link: 'Homepage:'
position: 0

homepage: null
page: null
module: null

gallery:
	maxFileSize: 5 #MB
	maxFiles: 20

menu:
    web:
        settings:
            link:
        pages:
            link:
        content:
            link:
        hooks:
            link: