{extends layout.latte}
{block content}
{control linkForm}
<script type="text/javascript">
    $('#frm-links-linkForm-content').ckeditor({
        on: {
            change: function (evt) {
                this.updateElement();
            }
        }
    });
</script>
