{block title}{_'webManager.web.settings.title'}{/block}
{block content}
    {panel}
        {view, class => form}
            {snippet settings}
                {control settingsForm}
            {/snippet}
        {/view}
    {/panel}