{block description}{$page->description}{/block}
{block keywords}{$page->keywords}{/block}
{block ogImage}{$page->image}{/block}

{block content}
    <h1 n:block="title">{$page->title}</h1>
    {$page->content|noescape}
