{block content}
{panel}
    <ul class="nav nav-tabs">
        <li n:foreach="$hooks as $hook" n:class="$tab == $hook ? active">
            <a data-toggle="tab" href="#{$hook}">{_'webManager.web.hooks.' . $hook . '.title'}</a>
        </li>
    </ul>

    <div class="tab-content">
        <div n:foreach="$hooks as $hook" id="{$hook}" n:class="$tab == $hook ? 'in active', 'tab-pane fade'">
            {control $hook}
        </div>
    </div>
{/panel}