title: "Web Management"

web:
    title: "Web"
    pages:
        title: "Pages"
        name: "Page"
        add: "Add page"
        pageTitle: "Title"
        keywords: "Keywords"
        photo: "Photo"
        photoDelete: "Delete photo"
        description: "Description"
        content: "Content"
        urlExists: "URL exists"
        urlContainsInvalidCharacters: "URL contains invalid characters"
        locale: "Language"
        groups:
            title: "Groups"
            menu: "Menu"
            footer: "Footer"
    content:
        title: "Content"
        add: "Add Content"
        contentTitle: "Title"
        keywords: "Keywords"
        photo: "Photo"
        photoDelete: "Delete photo"
        description: "Description"
        const: "Constant"
        content: "Content"
        constantExists: "Constant exists"
        locale: "Language"
    settings:
        title: "Settings"
        cookiePolicy: "Show cookie policy bar"
        cookiePolicyLink: "Link for cookie policy information"
        pagesTitle: "Pages title"
        keywords: "Key words"
        description: "Description"
        saved: "Settings saved"
        logo: "Logo"
        deleteLogo: "Delete logo"