title: "Web Management"

web:
    title: "Web"
    pages:
        title: "Pages"
        name: "Page"
        add: "Add page"
        edit: "Edit"
        delete: "Delete"
        confirmDelete: "Do you really want to delete '%name%'?"
        pageTitle: "Title"
        keywords: "Keywords"
        photo: "Photo"
        photoDelete: "Delete photo"
        description: "Description"
        content: "Content"
        url: "URL"
        urlExists: "URL exists"
    content:
        title: "Content"
        add: "Add Content"
        edit: "Edit"
        delete: "Delete"
        confirmDelete: "Do you really want to delete '%name%'?"
        name: "Name"
        contentTitle: "Title"
        keywords: "Keywords"
        photo: "Photo"
        photoDelete: "Delete photo"
        description: "Description"
        const: "Constant"
        content: "Content"
        constantExists: "Constant exists"
    settings:
        title: "Settings"
        cookiePolicy: "Show cookie policy bar"
        cookiePolicyLink: "Link for cookie policy information"
        pagesTitle: "Pages title"
        keywords: "Key words"
        description: "Description"
        saved: "Settings saved"