title: "Správa webu"

web:
	title: "Web"
	pages:
		title: "Stránky"
		name: "Stránka"
		homePage: "Domovská stránka"
		isLink: "Přímý odkaz"
		add: "Přidat stránku"
		pageTitle: "Titulek"
		keywords: "Klíčová slova"
		photo: "Fotka"
		photoDelete: "Smazat fotku"
		description: "Popisek"
		content: "Obsah"
		urlExists: "URL již existuje"
		urlContainsInvalidCharacters: "URL obsahuje nepovolené znaky"
		locale: "Jazyk"
		gallery: "Galerie"
		links: "Odkazy"
		visibility: "Viditelnost"
		pageView: "Zobrazení stránek"
		onePage: "Jedna stránka"
		separatelyPage: "Každá stránka jednotlivě"
		views:
			title: "Zobrazení"
			menu: "Menu"
			footer: "Patička"
		linkGroup:
			add: "Přidat odkazy"
			quantity: "Počet"
			name: "Název"
		link:
			add: "Přidat odkaz"
			name: "Název"
			url: "URL"
			image: "Obrázek"
			content: "Obsah"
			openNewWindow: "Otevřít do nového okna"
	content:
		title: "Obsah"
		add: "Přidat obsah"
		contentTitle: "Titulek"
		keywords: "Klíčová slova"
		photo: "Fotka"
		photoDelete: "Smazat fotku"
		description: "Popisek"
		const: "Konstanta"
		edit: "Editace konstanty"
		content: "Obsah"
		constantExists: "Konstanta již existuje"
		locale: "Jazyk"
	settings:
		title: "Nastavení"
		cookiePolicy: "Zobrazit potvrzeni používání cookies"
		cookiePolicyLink: "Link pro informace o používání cookies"
		pagesTitle: "Název stránek"
		keywords: "Klíčová slova"
		description: "Popisek"
		saved: "Nastavení uloženo"
		logo: "Logo"
		deleteLogo: "Smazat logo"
	hooks:
		title: "Propojení"
		tags:
			title: "Tagy"
			content: "Obsah"