title: "Správa webu"

web:
    title: "Web"
    pages:
        title: "Stránky"
        name: "Stránka"
        homePage: "Domovská stránka"
        add: "Přidat stránku"
        pageTitle: "Titulek"
        keywords: "Klíčová slova"
        photo: "Fotka"
        photoDelete: "Smazat fotku"
        description: "Popisek"
        content: "Obsah"
        urlExists: "URL již existuje"
        urlContainsInvalidCharacters: "URL obsahuje nepovolené znaky"
        locale: "Jazyk"
        gallery: "Galerie"
        views:
            title: "Zobrazení"
            menu: "Menu"
            footer: "Patička"
    content:
        title: "Obsah"
        add: "Přidat obsah"
        contentTitle: "Titulek"
        keywords: "Klíčová slova"
        photo: "Fotka"
        photoDelete: "Smazat fotku"
        description: "Popisek"
        const: "Konstanta"
        edit: "Editace konstanty"
        content: "Obsah"
        constantExists: "Konstanta již existuje"
        locale: "Jazyk"
    settings:
        title: "Nastavení"
        cookiePolicy: "Zobrazit potvrzeni používání cookies"
        cookiePolicyLink: "Link pro informace o používání cookies"
        pagesTitle: "Název stránek"
        keywords: "Klíčová slova"
        description: "Popisek"
        saved: "Nastavení uloženo"
        logo: "Logo"
        deleteLogo: "Smazat logo"
    hooks:
        title: "Propojení"