title: "Web Management"

web:
	title: "Web"
	pages:
		title: "Pages"
		name: "Page"
		homePage: "Home page"
		isLink: "Direct link"
		add: "Add page"
		pageTitle: "Title"
		keywords: "Keywords"
		photo: "Photo"
		background: "Background"
		photoDelete: "Delete photo"
		description: "Description"
		content: "Content"
		urlExists: "URL exists"
		urlContainsInvalidCharacters: "URL contains invalid characters"
		locale: "Language"
		gallery: "Gallery"
		links: "Links"
		visibility: "Visibility"
		pageView: "View pages"
		onePage: "One page"
		separatelyPage: "Each page separately"
		views:
			title: "Zobrazení"
			menu: "Menu"
			footer: "Footer"
		linkGroup:
			add: "Add links"
			quantity: "Quantity"
			name: "Name"
		link:
			add: "Add link"
			name: "Name"
			url: "URL"
			image: "Image"
			content: "Content"
			openNewWindow: "Open to new window"
	content:
		title: "Content"
		add: "Add Content"
		contentTitle: "Title"
		keywords: "Keywords"
		photo: "Photo"
		background: "Background"
		photoDelete: "Delete photo"
		description: "Description"
		const: "Constant"
		edit: "Edit constant"
		content: "Content"
		constantExists: "Constant exists"
		locale: "Language"
	settings:
		title: "Settings"
		pagesTitle: "Pages title"
		keywords: "Key words"
		description: "Description"
		saved: "Settings saved"
		logo: "Logo"
		deleteLogo: "Delete logo"
	hooks:
		title: "Hooks"
		tags:
			title: "Tags"
			content: "Content"